.articles {
    margin: 160px 0px;
    margin-left: 3px;
    margin-bottom: 128px;

}

.articles-title {
    font-weight: 400;
    font-size: 128px;
    line-height: 128px;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 33px;
}

.articles-list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.articles-item {
    border-radius: 20px;
    background: rgba(202, 181, 235, 1);
    position: relative;
    border: 1px solid #111010;
    margin-bottom: 25px;


}

.articles-item-img {
    border-radius: 20px;
    position: relative;
}

.articles-item-text {
    padding-top: 15px;
    background: rgba(202, 181, 235, 1);
    position: absolute;
    bottom: 5px;
    text-align: center;
    padding-bottom: 18px;
    border-radius: 0px 0px 20px 20px;
    width: 100%;
    font-size: 20px;
    line-height: 22px;
    text-align: center;
    text-transform: uppercase;
}