.benefits{
    padding: 77px 0px;
    background: rgba(255, 219, 91, 1);
    border-top: 1px solid #111010;
    border-bottom: 1px solid #111010;

}
.benefits-container{
    width: 1196px;
}
.benefits-list{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.benefits-text{
    width: 331px;
    font-size: 17px;
line-height: 25px;
text-align: center;
}
.benefits-country{
    font-size: 16px;
line-height: 24px;
text-align: center;
letter-spacing: 0.48px;
text-transform: uppercase;
margin-top: 23px;
}