.bowl {
    padding-top: 139px;
    padding-bottom: 151px;
    overflow-x: hidden;
}

.bowl-first-list {
    display: flex;
    margin-left: -170px;
    margin-bottom: 48px;
}

.bowl-second-list {
    display: flex;
    margin-left: -90px;
}

.bowl-text {
    font-size: 128px;
    line-height: 128px;
    text-transform: uppercase;
    margin-right: 15px;
    padding-bottom: 20px;
}

.bowl-first-item-text {
    margin-right: 32px;
}



.bowl-item {
    display: flex;
    align-items: flex-end;
}

.bowl-star {
    display: inline-block;
    width: 104px;
    height: 133px;
    background: url(../../img/bowl-span.png) no-repeat center center;
    background-size: contain;
    margin-right: 40px;
}
.bowl-first-item-star {
    margin-right: 28px;
}
@media only screen and(max-width:1000px){
    .bowl-text{
        font-size: 90px;
        line-height: 90px;
    }
    .bowl-star{
        width: 84px;
        height: 100px;
    }
}
@media only screen and(max-width:800px){
    .bowl-first-list ,.bowl-second-list{
        flex-direction: column;
      margin: 0;
    }
    .bowl-text{
        padding: 0;
       
    }
    .bowl-first-item-text{
        margin-right: 15px;
    }
    .bowl-first-item-star{
        margin: 0;
    }
    .bowl-star{
        margin: 0;
    }
    .bowl-item{
        margin:  0;
        text-align: left;
        width: 60%;
        justify-content: space-between;
        margin:  0 auto;
        margin-bottom: 20px;
    }
}
@media only screen and(max-width:650px){
    .bowl-text{
        font-size: 70px;
        line-height: 70px;
    }
    .bowl-star{
        width: 74px;
        height: 74px;
    }
}
@media only screen and(max-width:550px){
    .bowl-text{
        font-size: 57px;
        line-height: 57px;
    }
    .bowl-star{
        width: 60px;
        height: 60px;
    }
}
@media only screen and(max-width:440px){
    .bowl-text{
        font-size: 50px;
        line-height: 50px;
    }
}
@media only screen and(max-width:400px){
    .bowl-text{
        font-size: 45px;
        line-height: 45px;
    }
    .bowl-star{
        width: 50px;
        height: 50px;
    }
}