.footer {
    padding-top: 41px;
    padding-bottom: 55px;
    background-color: rgba(202, 181, 235, 1);
    border-top: 1px solid #111010;
   
}

.footer-container{
    padding-top: 211px;
    position: relative;
    background: url(../../img/footer-text.png) no-repeat center 15px;
    background-size: contain;
    z-index: 2;
}

.footer-info-wrapper {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.footer-connect-wrapper {
    width: 379px;
}

.footer-connect-title {
    font-weight: 400;
    font-size: 27px;
    line-height: 30px;
    text-transform: uppercase;
    margin-bottom: 30px;
}

.footer-form {
    width: 100%;
}

.footer-input {
    width: 100%;
}

.footer-lists-wrapper {
    display: flex;
    justify-content: space-around;
    width: 573px;
    margin-right: 123px;
    flex-wrap: wrap;
    margin-top: 7px;
}

.footer-item {
    margin-bottom: 16px;
    margin-right: 10px;
}

.footer-link {
    font-size: 16px;
    line-height: 24px;
    text-transform: uppercase;
    color: #111010;

}

.footer-bottom-unit {
    margin-top: 33px;
    display: flex;
    justify-content: space-between;
}

.footer-connect-by-wrapper {
    display: flex;
}
.footer-list{
    margin-bottom: 30px;
}
.footer-made-by-text {
    font-size: 16px;
    line-height: 24px;
    text-decoration-line: underline;
    margin-right: 4px;
    color: #111010;
}

.footer-powered-by-text {
    font-size: 15px;
    line-height: 24px;
    text-decoration-line: underline;
}

.footer-mess-list {
    display: flex;
    margin-right: 16px;
}

.footer-mess-item {
    margin-right: 32px;

    &:last-child {
        margin-right: 0;
    }
}
@media only screen and(max-width:1160px){
    .footer-lists-wrapper{
        margin-right: 0;
    }
}
@media only screen and(max-width:1160px){
    .footer-lists-wrapper{
        width: 473px;
    }
}
@media only screen and(max-width:900px){
    .footer-info-wrapper{
        flex-direction: column;
    }
    .footer-connect-wrapper{
        margin: 0 auto;
        margin-bottom: 40px;
        text-align: center;
    }
    .footer-lists-wrapper{
        margin: 0 auto;
    }
    .footer-list{
        text-align: center;
    }
}
@media only screen and(max-width:560px){
.footer-lists-wrapper{
    width: 80%;
    justify-content: space-around;
}
.footer-connect-wrapper{
    width: 90%;
}
.footer-bottom-unit{
    flex-direction: column-reverse;
    text-align: center;
}
.footer-mess-list{
    margin: 0 auto;
    margin-bottom: 20px;
}
.footer-connect-by-wrapper{
    margin: 0 auto;
}
}
@media only screen and(max-width:420px){
    .footer-connect-by-wrapper{
        flex-direction: column;
    }
}