@keyframes animate {
    0%{
        transform:translateX(100%);
    }
    100%{
        transform: translateX((0%));
    }
}
.header {
    padding: 19px 0px 22px 0px;
    border-bottom: 1px solid #111010;
    margin-bottom: 4px;
    
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1360px;
}

.header-nav-list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.header-nav-item {
    margin-right: 105px;

    &:last-child {
        margin-right: 0;
    }
}

.header-logo {
    text-transform: uppercase;
    font-weight: 500;
    font-size: 24px;
    margin-top: 4px;
}

.header-item-link {
    font-size: 16px;
    line-height: 24px;
    text-transform: uppercase;
    color: #111010;
}

.header-button-wrapper {
    display: flex;
    align-items: center;
}

.header-search-button {
    text-transform: uppercase;
    font-size: 16px;
    line-height: 24px;
    margin-right: 31px;
}

.header-shop-button {
    width: 35px;
    height: 32px;
    background: url(../../img/shop.svg) no-repeat center center;
    margin-right: 8px;
}

.header-shop-status {
    font-size: 16px;
    line-height: 16px;
}
.header-hamburger-button{
    display: none;
    position: absolute;
    width: 32px;
    height: 32px;
    background: url(../../img/hamburger.svg) no-repeat center center;
    right: 0;
}
.header-hamburger-close-button{
    background: url(../../img/close.svg) no-repeat  center center   ;
}
.header-modal{
    display: none;
}
.header-nav-modal{
    display: none;
}
@media only screen and(max-width:1260px){
    .header-container{
        padding: 0;
        position: relative;
    }
}
@media only screen and(max-width:960px){
    .header-nav-item{
        margin-right: 65px;
    }
    .header-search-button{
        margin-right: 15px;
    }
}
@media only screen and(max-width:760px){
    .header-nav-item{
        margin-right: 35px;
       
    }
    .header-item-link{
        font-size: 14px;
    }
    .header-search-button{
        font-size: 14px;
    }
}
@media only screen and(max-width:630px){
    .header-nav-item{
        margin-right: 25px;
    }
}
@media only screen and(max-width:600px){
    .header-nav{
        display: none;
    }
    .header-button-wrapper{
        display: none;
    }
    .header-logo{
        margin: 0 auto;
    }
    .header-hamburger-button{
        display: block;
    }
    .header-nav--active{
        animation: animate ease 900ms;
        display: block;
        position: absolute;
        top: 130px;
        right: 25%;
        z-index: 2;
        .header-nav-list{
            flex-direction: column;
            text-align: center;
        }
        .header-nav-item{
            margin-right: 0;
            margin-bottom: 20px;
        }
        .header-item-link{
            font-size: 18px;
        }
    }
    .header-button-wrapper--active{
        animation: animate ease 900ms;
        display: block;
        position: absolute;
        top: 400px;
        right: 20%;
        display: flex;
        text-align: center;
        align-items: center;
        z-index: 2;
        .header-search-button{
            margin-right: 12px;
        }
        .header-shop-button{
            margin-right: 12px;
        }
    }
    .header-modal--active{
        display: block;
        position: absolute;
        width: 100%;
        height: 100vh;
        top: 70px;
        right: 0;
        background-color: #111010;
        opacity: 0.8;
        z-index: 1;
    }
    .header-nav-modal--active{
        animation: animate ease 600ms;
        display: block;
        z-index: 1;
      width: 70%;
      height: 100vh;
      right: 0;
      position: absolute;
      background: #FFDB5B;
      top: 70px;
    }
}
@media only screen and(max-width:360px){
    .header-button-wrapper--active{
        right: 50px;
    }
    .header-nav--active{
        right: 18%;
    }
}